<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/animate.min.css">
    <script src="../scripts/vue.min.js"></script>
</head>
<body>
<% include header %>
	<div class="container-fluid">
		<div class="row">
			<div class="center-block" style="width: 400px;">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="panel-title text-center">
	                        <b>加密方式</b>
	                    </div>
					</div>
					<div class="panel-body">
						<form class="form-horizontal" method="post" action="">
							<div class="form-group">
								<label class="col-sm-3 control-label">yongh</label>
								<div class="col-sm-9">
									<input type="text" class="form-control" name="cryInput" placeholder="请输入加密内容" value="<%= cryInput || '' %>" />
								</div>
							</div>	

							<div class="form-group">
								<label class="col-sm-3 control-label">加密方式</label>
								<div class="col-sm-9">
									<select name="cryType" class="form-control">
									<% for ( var i = 0, length = cryList.length; i < length; i++ )  { %>
										<option value="<%= cryList[i] %>" <%= cryList[i] ===cryType ? 'selected="selected"': ''%>><%= cryList[i] %></option>
									<%}%>
									</select>
								</div>
								
							</div>	

							 <div class="form-group">
							    <div class="col-sm-offset-3 col-sm-9">
							      <input type="submit" class="btn btn-success col-sm-4" value="提交"/>
							    </div>
							 </div>
						</form>
					</div>

					<div class="panel-footer">
						<% if (cryType) { %>
							<div>加密方式：<b><%= cryType %></b></div>
						<% } %> 

						<% if ( cryInput ) { %>
							<div>加密文本：<b><%= cryInput %></b></div>
						<% } %>

						<% if ( cryResult ) { %>
							<div>加密结果：<b><%= cryResult %></b></div>
						<% } %>
					</div>
				</div>
			</div>		
		</div>
	</div>
</body>
</html>